body {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  max-height: 1080px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  margin: 0%;
}

.button {
  display: grid;
  justify-content: center;
  font-size: 1.2em;
  color: #fff;
  width: 200px;
  border: 0.2rem solid #000000;
  padding: 20px;
  transition: box-shadow 0.25s;
  text-align: center;
  background-color: #000000;
  border-radius: 200px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.button:hover {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.cam {
  justify-content: center;
  width: 100vw;
  background: url(./img/img.png) no-repeat center 10%;
}

.mds {
  width: 100vw;
  margin-top: 10px;
  justify-content: center;
}

canvas {
  padding: 10px;
  justify-content: center;
  top: 70%;
  margin-top: 100px;
  border-radius: 25px;
}

.undet_text {
  justify-content: center;
}
.mTitle {
  width: 100vw;
  display: grid;
  font-size: larger;
  padding: 5px;
  justify-content: center;
  background-color: rgb(90, 189, 255);
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
}

div {
  display: grid;
  width: 100vw;
  justify-content: center;
}
